{% extends 'temp/doctorbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Patient Reports</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
 
          <th>Test Name</th>
          <th>Note</th>
          <th>Report</th>

        </tr>
      </thead>
      {% for r in report %}
      <tr>
        
        <td>{{r.testName}}</td>
        <td>{{r.description}}</td>
        <td> <a href="{% static r.report_file  |default_if_none:'#'%}">View</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
